<html>
    {% include "header.html" with title="Logout" %}
    <div class="p-20 max-w-2xl max-h-2xl flex flex-col items-center align-center m-auto">
        
        
        <div class="alert success"> <span class="closebtn">&times;</span>Log out successfully</div>
        {% load static %}
        <img src="{% static 'logo.png' %}" alt="WLYLogo">
        <div>
            <button class="rounded-lg p-2 bg-[#461f87] text-[#ededed]" onclick="location.href='login'">Log In</button>
        </div>
    </div>
    </body>
</html>    